@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/indieflower/Indie-Flower.eot);
  src: local('Indie Flower'), local('IndieFlower'), url(../fonts/indieflower/Indie-Flower.svg#IndieFlower) format('svg'), url(../fonts/indieflower/Indie-Flower.woff) format('woff'), url(../fonts/indieflower/Indie-Flower.ttf) format('truetype'), url(../fonts/indieflower/Indie-Flower.eot?#iefix) format('embedded-opentype'), url(../fonts/indieflower/Indie-Flower.woff2) format('woff2');
}
